/*
	//OWNER	   : IG SOLUTIONS
	//AUTHOR   : PIYUSH GARG
	//START	   : MAY-2020
*/

*{
box-sizing:border-box;
}

body {
 margin:0px;
}

#title {
text-align:center;
color:red;
background-color:yellow;
margin:0px;
}

#demo {
left:5%;
border: solid 5px purple;
width:90%;
height:350px;
margin:auto;
overflow:auto;
background-color:#fed8b1;
}

#connect {
border:double 5px orange;
position:relative;
margin-top:2%;
left:5%;
width:90%;
padding:12px;
z-index:45;
} 

#name{
font-size:15px;
}

#mf{
font-size:15px;
}

/*
//OWNER	   : IG SOLUTIONS
//AUTHOR   : PIYUSH GARG
//START	   : MAY-2020
*/

.mesg {
 text-align:left;
 max-width:45%;
 word-wrap: break-word;
 padding-left:10px;
 padding-right:10px;
 padding-top:1px;
 padding-bottom:1px;
 background-color: #ADD8E6;
 color:black;
 overflow:hidden;
 float:left;
}

.mesg-tr {
 width: 0;
 height: 0;
 margin-left:auto;
 border-left: 14px solid transparent;
 border-top: 7px solid #90ee90;
 float:left;
}

.sent {
 text-align:left;
 word-wrap: break-word;
 max-width:45%;
 padding-right:10px;
 padding-left:10px;
 padding-top:1px;
 padding-bottom:1px;
 margin-left:auto;
 margin-right:0px;
 background-color:#90ee90;
 color:black;
 overflow:hidden;
 float:right;
}

.sent-tr {
 width: 0;
 height: 0;
 margin-left:auto;
 border-right: 14px solid transparent;
 border-top: 7px solid #90ee90;
 float:right;
}

.brdcst {
 text-align:center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*
//OWNER	   : IG SOLUTIONS
//AUTHOR   : PIYUSH GARG
//START	   : MAY-2020
*/
