*{
box-sizing:border-box;
}

#title {
text-align:center;
color:red;
background-color:yellow;
}

#demo {
left:5%;
border: solid 5px purple;
width:90%;
height:350px;
margin:auto;
overflow:auto;
}

#connect {
border:double 5px orange;
position:relative;
margin-top:2%;
left:5%;
width:90%;
padding:12px;
z-index:45;
} 

#name{
font-size:15px;
}

#mf{
font-size:15px;
}

.mesg {
 text-align:left;
 margin-left:20px;
 padding-left:10px;
}

.sent {
 text-align:right;
 margin-right:20px;
 padding-right:10px;
}

.brdcst {
 text-align:center;
}

